.container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.items{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

body{
    position: relative;
    display: flex;
    flex-direction: column;
}