/*setting styles for aboutPage*/
.container {
    background: #9580a8;
    margin: 2px 90px auto;
    display: flex;
    flex: 1 1 auto;
    padding: auto;

}

.authorClassImg {
    width: 50%;
}

.infoAboutAuthor {
    width: 50%;
    margin: 2em 0 0 0;
}

.authorClassImg img {
    width: 65%;
    border: 3px solid #fff;
    display: block;
    margin: 2em 5em;
}

.textInfo,
.contactAutor {
    font-family: revert;
    font-size: 33px;
    margin-bottom: 1em;
}

.contactAutor a {
    color: #000;
    text-decoration: none;
}


.contactAutor a:hover {
    text-shadow:
        -1px -1px #000,
        0 1px 0 #444;
    color: #fff;
}

@media only screen and (max-width: 1270px) {

    .textInfo,
    .contactAutor {
        font-family: sans-serif;
        font-size: 20px;
        margin-bottom: 1em;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .infoAboutAuthor {
        margin-top: auto;
        width: auto;
    }

    .authorClassImg {
        width: auto;
        margin: 1em;
    }

    .authorClassImg img {
        width: 60%;
        margin: auto;
    }

}