@import "./_variables.scss";
//Templates
%GridProperty {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
//Mixins
@mixin header_info_P(
  $margin-top,
  $font-family,
  $font-size,
  $line-height,
  $font-weight
) {
  margin-top: $margin-top;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin clearfix($width: null) {
  @if not($width) {
    display: inline-block;
    width: $width/2;
  } @else {
    display: flex;
    width: $width;
  }
}

@for $i from 1 through 3 {
  .item-#{$i} {
    width: 2em * $i;
  }
}


/*setting basic styles*/
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: #5f4d71;
}

/*Styles for wrapper*/
.wrapper {
  min-height: 100%;
  display: grid;
  background: $wrapperBgColor;
}

/*Styles for header*/
.header {
  @extend %GridProperty;
  position: fixed;
  grid-area: header;
  width: 100%;
  background: $mainColor;
  color: #fff;
  z-index: 1;
}

.header_container {
  width: 100%;
}

.header_body {
  @extend %GridProperty;
  grid-template: 1fr 1fr /1fr minmax(auto, 1000px) 1fr;
}

.header_info {
  @extend %GridProperty;
  grid-column: 2/3;
  & p {
    text-shadow: -1px -1px #000, 0 1px 0 #444;
    color: #fff;
    transition: all 1s;
    //Using mixin
    @include header_info_P(2px, sans-serif, 22px, 25px, 400);

    &:hover {
      text-shadow: -1px -1px #000, 0 1px 0 #444;
      // use func
      color: darken($lightPink, 5%);
    }
  }
}

/*Main styles*/
.main {
  display: grid;
  grid-auto-flow: row;
}

/*Styles for menu*/
.sidebar {
  width: 100%;
  background: $mainColor;
  grid-row: 2/2;
  grid-column: 2/3;
}

.sidebar_list {
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
  grid-template: 1fr / minmax(auto, 25px) minmax(auto, 25px) minmax(auto, 25px);
}

.sidebar_menu ul {
  list-style: none;

  li {
    font-family: sans-serif;
    list-style-type: none;
    text-align: center;

    & > a {
      color: #fff;
      display: block;
      text-decoration: none;
      height: 100%;
      width: 100%;
    }

    &:hover {
      background: $hoverBgColor;
    }
  }
}

/*Footer styles*/
.footer {
  grid-area: footer;
  padding: 19px;
  text-align: center;
  background: $mainColor;
  color: #fff;
  margin-top: auto;
}

/* up arrow */
.upArrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.forArrow {
  grid-row: 2/2;
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  padding-left: 50%;
  padding-top: 9px;

  &:hover {
    background: $hoverBgColor;
    cursor: pointer;
  }
}

/*media queries  */
/* Small devices (mobils S, 320px and up) */
@media #{$min320} {
  .wrapper {
    grid-template: minmax(30px, auto) 1fr minmax(50px, auto) / 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .header_body {
    grid-template: 1fr 1fr /1fr minmax(auto, 1000px) 1fr;

    .header_info {
      grid-template: 1fr / 1fr minmax(auto, 22px) minmax(auto, 22px) minmax(
          auto,
          22px
        );

      p {
        font-size: 9px;
      }

      > img {
        width: 27px;
      }
    }
  }
  .forArrow {
    display: none;
  }

  .sidebar_menu ul li {
    font-size: 12px;
    padding: 6px 2px;
    width: 50px;
  }

  .footer {
    height: 50px;
    padding: 7px 0 0 0;
    font-size: 14px;
  }
}

/* Small devices (landscape phones, 400px and up) */
@media #{$min400} {
  .header_body {
    .header_info p {
      font-size: 12px;
    }
  }
}

/* Small devices (landscape phones, 576px and up) */
@media #{$min576} {
  .header_body {
    .header_info p {
      font-size: 18px;
    }
  }
  .footer {
    font-size: 16px;
  }
}

/*Medium devices (tablets, 768px and up) */
@media #{$min768} {
  .header_info {
    grid-template:
      1fr / minmax(auto, 470px) minmax(auto, 30px) minmax(auto, 30px)
      minmax(auto, 30px);
  }
}

/* Large devices (desktops, 992px and up) */
@media #{$min992} {
  .wrapper {
    grid-template: minmax(50px, auto) 1fr minmax(50px, auto) / 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .forArrow {
    display: block;
  }

  .sidebar {
    display: block;
    grid-template: 1fr 1fr / 1fr minmax(auto, 900px) 1fr;
  }

  .sidebar_menu ul li {
    font-size: 17px;
    padding: 6px 2px;
    width: 100px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media #{$min1250} {
  .header_body {
    grid-template: 1fr 1fr /259px minmax(auto, 1000px) 259px;
  }

  .footer {
    font-size: 18px;
  }
}

//Import styles for all page
@import "indexStyle";
@import "aboutPageStyle";
@import "tableStyle";
