//Func to change size
@function GetSquare($number) {
  @return $number * $number;
}
//Mixins
@mixin WidthHeight($width,$height) {
  width: $width;
  height: $height;
}

$i: 6;
@while $i > 0 {
  .item-#{$i} {
    width: 2em * $i;
  }
  $i: $i - 2;
}

/*setting styles for tablePage*/
.container--table {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 20%;

  
  @media (min-width: 500px) {
    margin-top: percentage(0.17);
  }

  @media (min-width: 720px) {
    margin-top: percentage(0.12);
  }

  @media (min-width: 900px) {
    margin-top: percentage(0.09);
  }

  @media #{$min1200} {
    margin-top: percentage(0.12);
  }
}

/*setting styles for table*/
#tableForChange {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;

  @media #{$min320} {
    @include WidthHeight(280px,163px );
    display: none;
  }

  @media #{$min768} {
    @include WidthHeight(280px,163px );
    display: table;
  }

  @media #{$min1200} {
    @include WidthHeight(600px,200px );
  }
}

.ErrMessage{
  @media #{$min320} {
    display: block;
  }
  @media #{$min768} {
    display: none;
  }
}

th,
td:first-child {
  background: #80abd0;
  color: white;

  @media #{$min320} {
    padding: 5px;
  }

  @media #{$min1200} {
    padding: 10px 20px;
  }
}

th,
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}

td {
  background: $wrapperBgColor;
}

th:first-child,
td:first-child {
  text-align: left;

  @media #{$min320} {
    font-size: 14px;
  }
}

input[type="button"] {
  border: 0;
  line-height: #{multiply-by-one-and-half(2)};
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  width: 150px;
  text-shadow: 1px 1px 1px #000;
  background-color: #b194ca;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 1px 1px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);

  @media #{$min320} {
    border: 0;
    line-height: 3.2;
    padding: 0;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    width: 70px;
  }

  @media #{$min1200} {
    border: 0;
    line-height: 4;
    padding: 0 20px;
    font-size: 1rem;
    width: 150px;
  }
}

input[type="button"]:hover {
  background-color: #c73838;
}

input[type="button"]:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

