/*setting styles for aboutPage*/
.container {
    background: #9580a8;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items:center;
    grid-template: 1fr/ minmax(auto,600px) minmax(auto,600px) ;
    padding: 20px 20px;
}
.authorClassImg > img{
    width: 420px;
    border: #b2a4e7 solid 2px;
}

.textInfo,
.contactAutor {
    font-family: revert;
    font-size: 32px;
    text-align: justify;
    color:#f3cafd;
}

.contactAutor a {
    color: #b2a4e7;
    text-decoration: none;
}

.contactAutor a:hover {
    text-shadow:
        0px 0px #5f4d71,
        0 1px 0 #444;
    color: #5f4d71;
}

.authorClassImg{
    display: grid;
    justify-content: center;
}
