/* setting styles for main page */
.container {
    background: #9580a8;
    display: grid;
    justify-content: center;
    grid-template: 1fr / minmax(auto, 400px) minmax(auto, 400px) minmax(auto, 400px);
    padding: 0 1em;
}

.simpleText {
    padding: 8px 5px 9px;
    font-family: sans-serif;
    border: 1px solid #77608d;
    border-top:none ;
    border-bottom: none;
    text-align: justify;
    font-size: 16px;
}

.simpleText span{
    color: #f3cafd;
}

h2 {
    margin-top: 2px;
    font-family: Arial;
    font-size: 22px;
    line-height: 25px;
    font-weight: 400;
    text-shadow:
        -1px -1px #000,
        0 1px 0 #444;
    color: #fff;
    transition: all 1s;
}

h2:hover {
    text-shadow:
        -1px -1px #000,
        0 1px 0 #444;
    color: #c18acf;
}