/* setting styles for main page */
.container {
  background: #9580a8;
  display: grid;
  justify-content: center;
  grid-template: 1fr / minmax(auto, 1000px);
  position: relative;
}

.simpleText {
  font-family: sans-serif;
  background: #9580a8;
  text-align: justify;
}

.simpleText span {
  color: #eae6eb;
}
h2 {
  float: none;
  margin-top: 2px;
  font-family: Arial;
  line-height: 25px;
  font-weight: 400;
  text-shadow: -1px -1px #000, 0 1px 0 #444;
  color: #fff;
  transition: all 1s;
}

h2:hover {
  text-shadow: -1px -1px #000, 0 1px 0 #444;
  color: #c18acf;
}

/*media queries  */
/* Small devices (mobile s, 320px and up) */
@media (min-width: 320px) {
    .container {
      margin-top: 60px;
      padding: 0 0.5em;
    }
    .simpleText {
      position: static;
      padding: 4px 3px 2px;
      font-size: 12px;
    }
    h2 {
      font-size: 17px;
    }
  }

/* Tablets (Tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    padding: 0 1em;
    position: relative;
  }
  .simpleText {
    padding: 8px 5px 7px;
    font-size: 16px;
    position: sticky;
    top: 71px;
  }
  .oneText{
    padding-bottom: 10px;
  }
}
/*laptops (desktops, 992px and up) */
@media (min-width: 992px) {

  h2 {
    font-size: 22px;
  }
}
