/*setting basic styles*/
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: #5f4d71;
}
/*Styles for wrapper*/
.wrapper {
  min-height: 100%;
  display: grid;
  background: #9580a8;
}

/*Styles for header*/
.header {
  position: fixed;
  grid-area: header;
  display: grid;
  width: 100%;
  justify-items: center;
  align-items: center;
  background: #77608d;
  color: #fff;
  z-index: 1;
}

.header_info {
  display: grid;
  grid-column: 2/3;
  grid-template:
    1fr / 1fr
    minmax(auto, 30px)
    minmax(auto, 30px)
    minmax(auto, 30px);
}

.header_info p {
  margin-top: 2px;
  font-family: sans-serif;
  font-size: 22px;
  line-height: 25px;
  font-weight: 400;
  text-shadow: -1px -1px #000, 0 1px 0 #444;
  color: #fff;
  transition: all 1s;
}

.header_info p:hover {
  text-shadow: -1px -1px #000, 0 1px 0 #444;
  color: #f3cafd;
}

/*Main styles*/
.main {
  display: grid;
  grid-auto-flow: row;
}

/*Styles for menu*/
.sidebar {
  width: 100%;
  background: #77608d;
  grid-row: 2/2;
  grid-column: 2/3;
}
.sidebar_list {
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
  grid-template:
    1fr / minmax(auto, 25px)
    minmax(auto, 25px)
    minmax(auto, 25px);
}

.sidebar_menu ul li:hover {
  background: #c18acf;
}

.sidebar_menu ul {
  list-style: none;
}

.sidebar_menu ul li {
  font-family: sans-serif;
  list-style-type: none;
  text-align: center;
}

.sidebar_menu ul li > a {
  color: #fff;
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

/*Footer styles*/
.footer {
  grid-area: footer;
  padding: 19px;
  text-align: center;
  background: #77608d;
  color: #fff;
  margin-top: auto;
}
/* up arrow */
.upArrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.forArrow {
  grid-row: 2/2;
  grid-column: 1/2;
}

.upArrow:hover {
  cursor: pointer;
  border-width: 0 4px 4px 0;
}

/*media queries  */
/* Small devices (mobils S, 320px and up) */
@media (min-width: 320px) {
  .wrapper {
    grid-template: minmax(30px, auto) 1fr minmax(50px, auto) / 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  .header {
    grid-template: 1fr 1fr / 1fr minmax(auto, 500px) 1fr;
    height: 30px;
  }
  .header_info {
    grid-template: 1fr / 1fr minmax(auto, 22px) minmax(auto, 22px) minmax(
        auto,
        22px
      );
  }
  .header_info p {
    font-size: 9px;
  }
  .header_info > img {
    width: 27px;
  }
  .forArrow {
    display: none;
  }
  .sidebar_menu ul li {
    font-size: 12px;
    padding: 6px 2px;
    width: 50px;
  }
  .footer {
    height: 50px;
    padding: 7px 0 0 0;
    font-size: 14px;
  }
}
/* Small devices (landscape phones, 400px and up) */
@media (min-width: 400px) {
  .header_info p {
    font-size: 12px;
  }
  .header {
    grid-template: 1fr 1fr / 1fr minmax(auto, 600px) 1fr;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .header {
    grid-template: 1fr 1fr / 1fr minmax(auto, 750px) 1fr;
  }
  .header_info p {
    font-size: 18px;
  }
  .footer {
    font-size: 16px;
  }
}

/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header {
    grid-template: 1fr 1fr / 1fr minmax(auto, 1000px) 1fr;
  }
  .header_info {
    grid-template: 1fr / 1fr minmax(auto, 30px) minmax(auto, 30px) minmax(
        auto,
        30px
      );
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .wrapper {
    grid-template: minmax(50px, auto) 1fr minmax(50px, auto) / 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  .header {
    grid-template: 1fr 1fr / 1fr minmax(auto, 900px) 1fr;
    height: 70px;
  }
  .forArrow {
    display: block;
  }
  .sidebar {
    display: block;
    grid-template: 1fr 1fr / 1fr minmax(auto, 900px) 1fr;
  }
  .sidebar_menu ul li {
    font-size: 17px;
    padding: 6px 2px;
    width: 100px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1250px) {
  .header {
    grid-template: 1fr 1fr / 150px minmax(auto, 1200px) 1fr;
  }
}
