/*setting styles for tablePage*/
.container {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 20%;
}

/*setting styles for table*/
#tableForChange {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
}

th,
td:first-child {
  background: #80abd0;
  color: white;
}

th,
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}

td {
  background: #9580a8;
}

th:first-child,
td:first-child {
  text-align: left;
}

input[type="button"] {
  border: 0;
  line-height: 4;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  width: 150px;
  text-shadow: 1px 1px 1px #000;
  background-color: #b194ca;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 1px 1px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

input[type="button"]:hover {
  background-color: #c73838;
}

input[type="button"]:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/*media queries  */
/* Small devices (mobile s, 320px and up) */
@media (min-width: 320px) {
  #tableForChange {
    width: 280px;
    height: 163px;
  }
  input[value="300px"],
  input[value="200px"],
  input[value="100px"] {
    pointer-events: none;
  }
  input[type="button"] {
    border: 0;
    line-height: 3.2;
    padding: 0;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    width: 70px;
  }
  th,
  td:first-child {
    padding: 5px;
  }
  th:first-child,
  td:first-child {
    font-size: 14px;
  }
}

@media (min-width: 500px) {
  .container {
    margin-top: 17%;
  }
}

@media (min-width: 720px) {
  .container {
    margin-top: 12%;
  }
}
@media (min-width: 900px){
  .container {
    margin-top: 9%;
  }
}

/* Large devices (large pc, 1200px and up) */
@media (min-width: 1200px) {
  input[value="300px"],
  input[value="200px"],
  input[value="100px"] {
    pointer-events: auto;
  }

  input[type="button"] {
    border: 0;
    line-height: 4;
    padding: 0 20px;
    font-size: 1rem;
    width: 150px;
  }

  th,
  td:first-child {
    padding: 10px 20px;
  }
  #tableForChange {
    width: 600px;
    height: 200px;
  }
  .container {
    margin-top: 15%;
  }
}
